{% extends 'tienda/base.html' %}

{% block contenido %}
    <form method="GET">
        <label>Introduce un campo para filtrar</label>
        <input type="text" name="filtro_nombre" placeholder="Buscar por nombre" value = "{{request.GET.filtro_nombre}}"/>
        <select name="filtro_marca">
            <option value="">Seleccione una Marca</option>
            {% for marca in marcas %}
            <option 
            {% if request.GET.filtro_marca == marca.nombre %} selected {% endif %}>
                {{marca.nombre}}
            </option>
        {% empty %}
        <p>No hay marcas a seleccionar</p>
        {% endfor %}
        </select>

        <input type="number" name="filtro_precio" placeholder="Precio Máximo" value="{{request.GET.filtro_precio}}">

        <input type="submit" value="Filtrar">
       
    </form>
    <ul>
        {% for producto in productos %}
            <li>
                <a href=  "{% url 'crear_compra' producto.pk %}" >{{producto.nombre}}</a>
                <form action="" method="get">
                    {% csrf_token %}
                    {{ compra_form}}
                    <input type="submit" value="Comprar">

                </form>
            </li>
        {% empty %}
        <p>No hay productos</p>
        {% endfor %}
    </ul>
{% endblock %}