{% extends 'tienda/base.html' %}

{% block contenido %}
<!-- Filtros -->
<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="GET" class="row g-3">
                <div class="col-md-3">
                    <label>Nombre:</label>
                    <input type="text" name="filtro_nombre" class='form-control' placeholder="Buscar por nombre"
                        value="{{request.GET.filtro_nombre}}" />
                </div>
                <div class="col-md-3">
                    <label>Marca:</label>
                    <select name="filtro_marca" class="form-select">
                        <option value="">Seleccione una Marca</option>
                        {% for marca in marcas %}
                        <option {% if request.GET.filtro_marca == marca.nombre %} selected {% endif %}>
                            {{marca.nombre}}
                        </option>
                        {% empty %}
                        <p>No hay marcas a seleccionar</p>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Precio:</label>
                    <input type="number" name="filtro_precio" class='form-control' placeholder="Precio Máximo"
                        value="{{request.GET.filtro_precio}}">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-primary w-100" value="Filtrar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Productos -->
<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Lista de Productos</h5>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Modelo</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Marca</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{% if producto.foto %}
                            <img style="max-width: 100px; max-height: 100px" src="{{ producto.foto.url }}" class='img-productos'>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'producto_detalle' producto.pk %}">
                                {{ producto.nombre }}
                            </a>
                        </td>
                        <td>
                            {{ producto.modelo }}
                        </td>
                        <td>
                            {{ producto.precio }}
                        </td>
                        <td>
                            {{ producto.unidades }}
                        </td>
                        <td>
                            {{ producto.marca }}
                        </td>
                        <td>
                            {% if user.is_staff %}
                            <a href="{% url 'producto_editar' pk=producto.pk %}" class="btn btn-sm btn-info">Editar</a>
                            <a href="{% url 'producto_borrar' pk=producto.pk %}"class="btn btn-sm btn-danger" >Borrar</a>
                            
                            {% else %}
                           
                            <form action="{% url 'checkout' producto.pk %}" method="get">
                                {% csrf_token %}
                                {{ compra_form.as_div }}
                                <button type="submit" class="btn btn-sm btn-info">Comprar</button>
                            </form>
                            {% endif%}
                        </td>
                        
                    </tr>

                    {% empty %}
                    <p> No hay productos</p>
                    {% endfor %}
                </tbody>
            </table>
            {% if user.is_staff %}
                <a href="{% url 'crear' %}" class="btn btn-sm btn-info">Crear producto</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}