{% extends 'tienda/base.html' %}

{% block contenido %}
<h2>Informes</h2>

<!-- Top 10 clientes -->
<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Top 10 Clientes</h5>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Número de compras</th>
                        <th>Total importe compras</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in topclients%}
                    <tr>
                        
                        <td>{{client.username}}</td>
                        <td>{{client.lastname}}</td>
                        <td>{{client.total_compras}}</td>
                        <td>{{client.importe_compras}}</td>
                    </tr>
                    {% endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<!-- Top 10 Productos -->
<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Top 10 Productos</h5>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Número de unidades</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for producto in topProductos%}
                    <tr>
                        
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.marca}}</td>
                        <td>{{producto.total_vendidos}}</td>
                        
                    </tr>
                    {% endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>
<br>

{% endblock %}