{% extends 'tienda/base.html' %}

{% block contenido %}
<h2>Informes</h2>

<!-- Top 10 clientes -->
<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Top 10 Clientes</h5>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Número de compras</th>
                        <th>Total importe compras</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<!-- Top 10 Productos -->

{% endblock %}