{% extends 'tienda/base.html' %}

{% block contenido %}
<!-- Contenedor principal -->
<div class="container mt-5">
    <div class="row">
        <!-- Imagen del usuario -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                {% if user.foto %}
                <img style="max-width: 100px; max-height: 100px;" src="{{user.foto.url}}" class="card-img-top" alt="Producto">
                {% endif%}

            </div>
        </div>

        <!-- Detalles del usuario -->
        <div class="col-md-6">
            <h2 class="fw-bold">{{user.last_name}}, {{user.first_name}}</h2>
            <h3 class="text-primary">Saldo: {{user.saldo}}€</h3>

            <!-- Bio del usuario -->
            <h3 class="text-primary">Bio:</h3>
            <p class="mt-3">{{user.bio}}</p>

        </div>
    </div>


    <!-- Compras realizadas -->
    <div class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Compras realizadas</h5>
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Fecha</th>
                            <th>Producto</th>
                            <th>Unidades</th>
                            <th>Importe</th>
                            <th>Iva</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra in compras %}
                        <tr>
                            <td>{{ compra.fecha }}</td>
                            <td>
                                <a href="{% url 'producto_detalle' compra.producto.pk %}">
                                    {{ compra.producto.nombre }}
                                </a>
                            </td>
                            <td>
                                {{ compra.unidades }}
                            </td>
                            <td>
                                {{ compra.importe }}
                            </td>
                            <td>
                                {{ compra.iva }}
                            </td>

                        </tr>
                        {% empty %}
                        <p> No has realizado ninguna compra aún.</p>
                        {% endfor %}
                    </tbody>
                </table>


                <!-- Controles de paginación -->
                <nav class="mt-4">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; Primera</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages}}</span>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% endblock %}