{% extends 'basesite.html' %}
{% block base %}
    <style>
        body {
            background: linear-gradient(135deg, #667eea, #764ba2);
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-card {
            max-width: 400px;
            padding: 2rem;
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .btn-primary:hover {
            background-color: #5a67d8;
        }
    </style>
</head>

<body>



    <div class="login-card">
        <h3 class="text-center mb-4">Iniciar Sesión</h3>
        {% if form.errors %}
        <p>Por favor, corrige los siguientes errores:</p>
        {{ form.errors }}
        {% endif %}
        <form method="post">
            {% csrf_token%}
            <div class="mb-3">
                
                <label for="{{ form.username.id_for_label }}" class="form-label">Usuario:</label>

                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña:</label>
                {{ form.password }}
            
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <p>¿No tienes una cuenta? <a href="" class="text-decoration-none">Regístrate</a>.</p>
                            </div>
            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
    </div>



</body>

{% endblock %}